<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <title>Добавить книгу</title>
</head>
<body>
<div th:replace="~{header :: content}"></div>
<h1>Добавить книгу</h1>
<form id="addBookForm">

  <div>
    <label for="title">Название:</label>
    <input type="text" id="title" name="title" required>
<!--    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>-->
  </div><br>

  <div>
    <label for="author">Автор:</label>
    <select id="author" name="author" required>
      <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}">Author</option>
    </select>
  </div><br>

  <div>
    <label for="publisher">Издательство:</label>
    <input type="text" id="publisher" name="publisher" required/>
  </div><br>

  <div>
    <label for="publicationYear">Год издания:</label>
    <input type="number" id="publicationYear" name="publicationYear" required/>
<!--    <p th:if="${#fields.hasErrors('publicationYear')}" th:errors="*{publicationYear}"></p>-->
  </div><br>

  <div>
    <label for="genre">Жанр:</label>
    <select id="genre" name="genre" required>
      <option value="">Выберите жанр</option>
      <option value="Рассказ">Рассказ</option>
      <option value="Повесть">Повесть</option>
      <option value="Роман">Роман</option>
      <option value="Политическая экономия">Политическая экономия</option>
      <option value="Социология">Социология</option>
      <option value="История">История</option>
    </select>
  </div><br>

  <div>
    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn" required>
<!--    <p th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></p>-->
  </div><br>

  <div>
    <label for="price">Цена:</label>
    <input type="number" id="price" name="price" step="1" required>
<!--    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>-->
  </div><br>

  <div>
    <label for="pages">Кол-во страниц:</label>
    <input type="number" id="pages" name="pages" required/>
<!--    <p th:if="${#fields.hasErrors('pages')}" th:errors="*{pages}"></p>-->
  </div><br>

  <div>
    <label for="description">Аннотация:</label>
    <textarea id="description" name="description"></textarea>
  </div><br>

  <div>
    <label for="rating">Рейтинг (0-10):</label>
    <input type="number" id="rating" name="rating" min="0" max="10" step="1" />
  </div><br>

  <div>
    <label for="newFlag">Признак новизны:</label>
    <input type="checkbox" id="newFlag" name="newFlag"/>
  </div><br>

  <div>
    <label for="stock">Кол-во на складе:</label>
    <input type="number" id="stock" name="stock" required/>
<!--    <p th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></p>-->
  </div><br>

  <div>
    <label for="imagePath">Обложка:</label>
    <select id="imagePath" name="imagePath" required>
      <option value="images/1.jpg">Выберите обложку</option>
      <option value="images/1.jpg">Обложка 1</option>
      <option value="images/2.jpg">Обложка 2</option>
      <option value="images/3.jpg">Обложка 3</option>
      <option value="images/4.jpg">Обложка 4</option>
      <option value="images/5.jpg">Обложка 5</option>
      <option value="images/6.jpg">Обложка 6</option>
      <option value="images/7.jpg">Обложка 7</option>
    </select>
  </div><br>

  <div>
    <button type="submit" onclick="submitBook()">Добавить</button>
  </div><br>

</form>

<script>
        function submitBook() {
            console.log('Form submission initiated'); // Диагностика начала выполнения функции
            const form = document.getElementById('addBookForm');
            const formData = new FormData(form);
            const jsonData = {};

            formData.forEach((value, key) => {
                if (key === 'author') {
                    jsonData[key] = { id: value };
                } else if (key === 'newFlag') {
                    jsonData[key] = form.querySelector('input[name="newFlag"]').checked;
                } else {
                    jsonData[key] = value;
                }
            });

            // Вывод JSON в консоль
            console.log('Prepared JSON data:', jsonData);

            fetch('/storeassistance/add-book', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData)
            })
            .then(response => {
                console.log('Response received:', response);
                if (response.ok) {
                    alert('Book added successfully!');
                    form.reset(); // Очистка формы после успешного добавления
                } else {
                    response.text().then(text => alert('Error adding book: ' + text));
                }
            })
            .catch(error => {
                console.error('Error occurred:', error);
                alert('Error: ' + error);
            });
        }
    </script>

</body>
</html>